<div style="" class="mt-28 flex flex-wrap justify-center">
  <div style="" class="w-full lg:flex-1">
    <div  class="w-5/6 mx-auto lg:ml-auto">
      <div class="flex">
        <div  class="mx-2 my-2 flex-1"><img src="{{ 'about-1.jpg' | asset_url }}"/></div>
        <div  class="mx-2 my-2 flex-1"><img src="{{ 'about-2.jpg' | asset_url }}"/></div>
      </div>
      <div class="flex">
        <div  class="mx-2 my-2 flex-1"><img src="{{ 'about-3.jpg' | asset_url }}"/></div>
        <div  class="mx-2 my-2 flex-1"><img src="{{ 'about-4.jpg' | asset_url }}"/></div>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-6"></div>
  <div  class="w-full mt-16 lg:flex-1 lg:mt-0">
    <div class="px-6 lg:mr-auto lg:px-0 lg:w-5/6">
      <h3 class="font-pacifico text-orange-400 text-2xl">Tentang kami:</h3>
      <div class="text-4xl font-bold mt-6">
        Selamat Datang di {{site_name}}
      </div>
      <div class="text-gray-600 mt-4">
        Restoran kami telah berdiri sejak 1977, dan kami tetap menjaga
        kualitas dan citarasa masakan dengan pemilihan bahan bahan yang bermutu
        dan tentunya halal.
      </div>
      <div class="text-gray-600 mt-4">
        Kami percaya, konsumen yang telah mengunjungi kami, akan kembali untuk 
        memesan lagi, karena keunikan masakan kami.
      </div>
      <div class="mt-4 flex flex-wrap">
        <div class="flex-1 border-l-4 border-orange-400">
          <div class="flex items-center">
            <div class="ml-2 text-6xl text-orange-400">
              46
            </div>
            <div class="ml-2">
              <div class="text-gray-600">Tahun</div>
              <div class="font-bold">PENGALAMAN</div>
            </div>
          </div>
        </div>
        <div class="flex-1 border-l-4 border-orange-400 mt-6 lg:mt-0">
          <div class="flex items-center">
            <div class="ml-2 text-6xl text-orange-400">
              15
            </div>
            <div class="ml-2">
              <div class="text-gray-600">Penghargaan</div>
              <div class="font-bold">DIRAIH</div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-12">
        <a class="rounded text-white bg-orange-400 font-bold px-3 py-3">BACA SELENGKAPNYA</a>
      </div>
    </div>
  </div>
</div>