<div class="text-center mt-24">
  <h1 class="text-orange-400 font-pacifico font-bold text-xl">Menu Makanan</h1>
  <h1 class="mt-6 text-4xl font-bold">Menu Terlaris</h1>
  <div class="mt-12">
    <div class="flex flex-wrap justify-center">
      <div class="mx-5 cursor-pointer" data-action="click->tab#showTab" data-tabname="food-tab-content">
        <div class="flex items-center">
          <div>
            <span class="material-symbols-outlined text-orange-400 !text-5xl">set_meal</span>
          </div>
          <div class="text-left ml-2">
            <div class="text-gray-600">Idola</div>
            <div class="font-bold">Makanan Berat</div>                      
          </div>                    
        </div>
      </div>
      <div class="mx-5 cursor-pointer" data-action="click->tab#showTab" data-tabname="snack-tab-content">
        <div class="flex items-center">
          <div>
            <span class="material-symbols-outlined text-orange-400 !text-5xl">kebab_dining</span>
          </div>
          <div class="text-left ml-2">
            <div class="text-gray-600">Temen Ngobrol</div>
            <div class="font-bold">Camilan</div>                      
          </div>                    
        </div>
      </div>
      <div class="mx-5 cursor-pointer" data-action="click->tab#showTab" data-tabname="drink-tab-content">
        <div class="flex items-center">
          <div>
            <span class="material-symbols-outlined text-orange-400 !text-5xl">nightlife</span>
          </div>
          <div class="text-left ml-2">
            <div class="text-gray-600">Santai</div>
            <div class="font-bold">Minuman</div>                      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MENU TAB -->
<div class="mt-24 food-tab-content" data-tab-target="content">
  <div style="" class="ml-6 mr-6 flex flex-wrap">
    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-1.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-1.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-1.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-24 snack-tab-content hidden" data-tab-target="content">
  <div style="" class="ml-6 mr-6 flex flex-wrap">
    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-6.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-6.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-6.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-24 drink-tab-content hidden" data-tab-target="content">
  <div style="" class="ml-6 mr-6 flex flex-wrap">
    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-4.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-4.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/2 mt-6">
      <div class="flex items-center mx-4">
        <div>
          <img src="{{ 'menu-4.jpg' | asset_url}}"/>
        </div>
        <div class="flex-1 ml-2">
          <div class="flex">
            <div class="flex-1 font-bold text-xl">Daging bakar barbeque</div>
            <div class="text-orange-400 font-bold">
              Rp 10K
            </div>
          </div>
          <hr/>
          <div class="text-gray-600">
            Daging sapi dengan bumbu spesial aroma bawang
          </div>
        </div>
      </div>
    </div>
  </div>
</div>